@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
 font-family: 'handel gothic';
 src: url(../font/handel gothic.ttf) format('truetype');
}

/*reset*/
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}


/*Layout*/
body {font-family: "Noto Sans KR", sans-serif;}
.en {font-family: 'handel gothic', sans-serif;}
.en_s {font-family: "Dancing Script", cursive;}

/*header*/
.innerHeader {max-width: 1720px; height: 110px; line-height: 110px; margin: auto;}
.innerHeader .logo {float: left;}
.innerHeader .logo a {display: block; width: 100%; height: 100%;}
/*gnb+sns*/
.innerHeader .mainMenu {float: right; overflow: hidden; position: relative;}
span.bar {position: absolute; left: 0; bottom: 40px; width: 0; height: 3px; background: #e7e7e7; transition: all 0.4s;}

/*gnb*/
.innerHeader .mainMenu .gnb {float: left;}
.innerHeader .mainMenu .gnb li {float: left; margin: 0 20px;}
.innerHeader .mainMenu .gnb li a {display: block; width: 100%; height: 100%; color: #555;}

/*sns*/
.innerHeader .mainMenu .sns {float: left; margin-left: 300px;}
.innerHeader .mainMenu .sns li {float: left;}
.innerHeader .mainMenu .sns li a {display: block; width: 100%; height: 100%; padding: 0 10px;}

/*section.visual*/
section.visual { max-width: 1720px; margin: auto; overflow: hidden;}
section.visual .mainImg {float: left; width: 50%;}
section.visual .mainImg img {width: 90%;}
section.visual .mainTxt {float: left; width: 50%; margin-top: 180px;}
section.visual .mainTxt .gray { color: gray;}

/*타이틀, 텍스트, 더보기 버튼 공통 클래스*/
.tit {font-size: 50px; line-height: 1.2; font-weight: normal;}
.tit span {display: block;}
.tit span b {font-weight: normal;}
.tit span.en_s {font-size: 22px; font-weight: normal;}
.txt p {color: #888; line-height: 1.6; margin-bottom: 10px;}
.txt p b {font-weight: normal;}
.moreBtn {display: inline-block; color:#333; position: relative; padding-left: 45px; margin-top: 20px; transform: skewX(-15deg) translateX(5px); transition: all 0.5s;}
.moreBtn:before { content: ''; width: 42px; height: 1px; background: #333; position: absolute; left: 0; top: 54%;}
.moreBtn:hover, .moreBtn:focus {transform:skewX(0deg) translateX(0px); font-weight: bold;}

/*section안에 .inner(공통 넓이 가이드) .box(플루트)*/
section .inner {width: 1320px; margin: auto; overflow: hidden;}
section .inner .box { float: left; width: 50%;}


/*section.journal*/
section.journal {position: relative; padding: 190px 0 120px;} 
section.journal .scroll {text-transform: uppercase; position: absolute; left: 50%; top:-20px; font-size: 10px; letter-spacing: 5px;
                        writing-mode:vertical-rl; padding-top: 90px;}
section.journal .scroll:before {content: ''; position: absolute; height: 75px; width:1px; background: #333; top:0; left:6px;}

section.journal .inner .box .img {padding-top: 100px;}
section.journal .inner .box .tit {margin-bottom: 40px;}

section.journal .inner .box ul {border-top: 1px solid #e6e6e6; padding-top: 40px;}
section.journal .inner .box ul li {margin-bottom: 30px; overflow: hidden;}
section.journal .inner .box ul li h3 {float: left; width: 22%; font-size: 15px; font-weight: bold;}
section.journal .inner .box ul li p {float: left; width: 78%; color: #888;}
section.journal .inner .box .moreBtn { clear: both; margin-left: 22%;}


/*section.service*/
section.service {padding:190px 0;}
section.service .inner {}
section.service .inner .box .img {margin-top: 60px;}
section.service .inner .box.design {width: 45%; margin-top: -40%; padding-top: 60px; border-top: 1px solid #c4e5ea;}
section.service .inner .box.design .tit {font-size: 30px; line-height: 1.4; margin-bottom: 20px;}



/*section.customer*/
section.customer {padding: 160px; text-align: center; background:url(../img/img_04.jpg)no-repeat center/cover;}
section.customer .tit {color: #fff; font-size: 40px; margin-bottom: 10px;}
section.customer .txt {color: #777;}



/*section.team*/
section.team {padding: 190px 0; position: relative;}
section.team .inner .box.left {text-align: right; padding-right: 80px; box-sizing: border-box;}
section.team .inner .box .tit {margin-top: 40px;}
section.team .inner .box .img {margin-top: 100px;}
section.team .inner .box .txt {margin: 30px 0;}



/*footer*/
footer {width: 1320px; margin: auto;}
footer .top .tit {color: #e6e6e6; font-size: 62px; text-align: center; margin-bottom: 40px;}
footer .bottom {border-top: 1px solid #e6e6e6; padding: 40px 0 100px;}
footer .bottom ul {overflow: hidden;}
footer .bottom ul li {float: left; width: 23%; color: #aaa; font-size: 12px; line-height: 2;}
footer .bottom ul li:nth-child(1) {width: 31%; font-size: 28px; color: #000; line-height: 1.1;}
footer .bottom ul li b {color: #333; font-weight: normal; }
footer .bottom ul li b:nth-child(1) { display: inline-block; margin-bottom: 12px; font-size: 14px; color: #333;}


/*circleBox SVG*/
.circleBox {display: block; transform: rotate(-90deg);}
.circleBox .svgAni path {fill:none; stroke:#f5f5f5; stroke-width:25; stroke-dasharray:1564; stroke-dashoffset: 0;} /*stroke-dashoffset 시작점*/
section.journal .circleBox { width: 700px; position: absolute; right: 13%; top:100px; z-index: -1;}
section.team .circleBox {width: 700px; position: absolute; top: 220px; left:-10%; z-index: -1;}



/*SVG애니메이션*/
.circleBox.motion .svgAni path {animation-name: dash; animation-duration: 1.5s;}
@keyframes dash {
    0% {stroke-dashoffset: 1564;}
    100% {stroke-dashoffset: 0;}
}



/*menuOpen*/
.menuOpen button:focus {outline: none;}
.menuOpen button.open {background: none; border: none; position: fixed; z-index: 100; right: 0; top: 50%; transform: translateY(-50%);
padding: 30px 22px; box-sizing: border-box; }
.menuOpen button.open:before {content: ''; width: 100%; height: 100%; background: #f5f5f5; position: absolute; right: -100px; top: 0; z-index: -1;
transition: all 0.5s;}

.menuOpen button.open:hover:before, .menuOpen button.open:focus:before {right: 0; cursor: pointer;}

.menuOpen .menuWrap {width: 100%; height: 100vh; position: fixed; top: 0; right: 0; z-index: 100; background: #eee;}
.menuOpen .menuWrap .tit {color: #ccc; position: absolute; top: 50%; transform: translateY(-50%); left: 25%; font-size: 60px;}
.menuOpen .menuWrap .tit li a {display: inline-block; margin-bottom: 20px; position: relative; transition: all 0.3s;}
.menuOpen .menuWrap .tit li a:hover, .menuOpen .menuWrap .tit li a:focus {transform: translateX(30px); color: #333;}
.menuOpen .menuWrap .tit li a:after { content: ''; width: 0%; height: 2px; background: #333; position: absolute; left: 0; bottom: -5px; transition: all 0.3s;}
.menuOpen .menuWrap .tit li a:hover:after, .menuOpen .menuWrap .tit li a:focus:after {width: 100%;}



/*close*/
.menuOpen .menuWrap .close:nth-child(1) {position: absolute; top: 50%; transform: translateY(-50%); left: 30px;}
.menuOpen .menuWrap .close.en {position: absolute; right: 50px; top: 50px; font-size: 25px; border-bottom: 1px solid #888; color: #888;}


/*.menuOpen 열기작성*/
/*1. js파일 작성부터 해*/
/*2. .on클래스 만들기*/
.menuOpen .menuWrap {width:0%; transition: all 0s; transform: skewY(40deg); opacity: 0;}
.menuOpen .menuWrap.on {width: 100%; transform: skewY(0deg); transition: all 0.5s; opacity: 1;}


/*ul li애니*/
.menuOpen .menuWrap ul {display: none;}
.menuOpen .menuWrap.on ul {display: block;}



/*메뉴열었을 때 동그라미*/
.menuOpen .menuWrap.on:before {content: ''; width: 700px; height: 700px; background: #fff; position: absolute;
top: 50%; transform: translateY(-50%); border-radius: 100%; left: 30%;}
.menuOpen .menuWrap.on:before {animation-name: menuWrap2; animation-duration: 1.8s;}
@keyframes menuWrap2 {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(-50%) scale(0.5);}
    
}


/*반응형웹제작*/
/*pc모드*/
/*
@media screen and (max-width:1700px){  1720px~1401px사이
    .innerHeader {max-width: 100%; padding: 0 30px; box-sizing: border-box;}
    .innerHeader .mainMenu .sns {margin-left: 200px;}
    section.visual {max-width: 100%; padding: 0 30px; box-sizing: border-box;}
    section.visual .mainTxt {margin-top: 100px;}
    section.visual .mainTxt .tit {font-size: 62px;}
}
*/










